<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
</head>
<body>
    <section style="text-align: center; margin:auto">
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="numero">Numero Iniziale</label>
            <input type="number" name="numero" id="numero">
            <label for="files">Seleziona Immagini</label>
            <input type="file" name="files[]" id="files" multiple>
            <button type="submit">Invia</button>
        </form>

        {% if download_link %}
            <p><a href="{{ download_link }}" download>Scarica le immagini convertite</a></p>
        {% endif %}

        {% if images %}
            <p><a href="/delete_images">Elimina immagini</a></p>
        {% endif %}
    </section>
</body>
</html>
